{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'fontawesome-all.min.css' | asset_url | stylesheet_tag }}
{{ 'default.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'responsive.css' | asset_url | stylesheet_tag }}
{{ 'flaticon.css' | asset_url | stylesheet_tag }}

{% render 'contact-card' %}
<section class="contact-area pt-100 pb-100">
  <div class="container">
    {% render 'title-heading' %}
  </div>
</section>

{% schema %}
{
  "name": "Contact",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "title",
      "settings": [
        {
          "type": "text",
          "id": "sub-title",
          "label": "Enter Sub-title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Enter title"
        },
        {
          "type": "image_picker",
          "id": "title_img",
          "label": "Please select title image"
        },
        {
          "type": "richtext",
          "id": "title_desc",
          "label": "Title Description"
        }
      ],
      "limit": 1
    },
    {
      "name": "Contact Card",
      "type": "contact_card",
      "settings": [
        {
          "type": "text",
          "id": "card_heading",
          "label": "Card Heading",
          "default": "Our Location"
        },
        {
          "type": "richtext",
          "id": "card_desc",
          "label": "Card Description",
          "default": "<p>W898 RTower Stat, Suite 56 Brockland, CA 9622 United States</p>"
        },
        {
          "type": "select",
          "id": "card_icon",
          "label": "Card Icon",
          "options": [
            {
              "label": "Shopping Bags",
              "value": "flaticon-shopping-bags"
            },
            {
              "label": "Shopping Bag",
              "value": "flaticon-shopping-bag"
            },
            {
              "label": "Magnifying Glass",
              "value": "flaticon-magnifying-glass"
            },
            {
              "label": "Magnifying Glass-1",
              "value": "flaticon-magnifying-glass-1"
            },
            {
              "label": "Menu",
              "value": "flaticon-menu"
            },
            {
              "label": "Menu-1",
              "value": "flaticon-menu-1"
            },
            {
              "label": "Menu-2",
              "value": "flaticon-menu-2"
            },
            {
              "label": "Heart",
              "value": "flaticon-heart"
            },
            {
              "label": "Two arrows",
              "value": "flaticon-two-arrows"
            },
            {
              "label": "User",
              "value": "flaticon-user"
            },
            {
              "label": "Justification",
              "value": "flaticon-justification"
            },
            {
              "label": "Scroll",
              "value": "flaticon-scroll"
            },
            {
              "label": "Scroll-1",
              "value": "flaticon-scroll-1"
            },
            {
              "label": "Shuffle",
              "value": "flaticon-shuffle"
            },
            {
              "label": "Shuffle-1",
              "value": "flaticon-shuffle-1"
            },
            {
              "label": "Supermarket",
              "value": "flaticon-supermarket"
            },
            {
              "label": "Witness",
              "value": "flaticon-witness"
            },
            {
              "label": "Quote Left",
              "value": "flaticon-quote-left"
            },
            {
              "label": "List",
              "value": "flaticon-list"
            },
            {
              "label": "List-1",
              "value": "flaticon-list-1"
            },
            {
              "label": "Grid",
              "value": "flaticon-grid"
            },
            {
              "label": "Project",
              "value": "flaticon-project"
            },
            {
              "label": "Revenue",
              "value": "flaticon-revenue"
            },
            {
              "label": "Quality",
              "value": "flaticon-quality"
            },
            {
              "label": "Shuttle",
              "value": "flaticon-shuttle"
            },
            {
              "label": "Invoice",
              "value": "flaticon-invoice"
            },
            {
              "label": "Secure Payment",
              "value": "flaticon-secure-payment"
            },
            {
              "label": "24 Hours Support",
              "value": "flaticon-24-hours-support"
            },
            {
              "label": "Placeholder",
              "value": "flaticon-placeholder"
            },
            {
              "label": "Telephone",
              "value": "flaticon-telephone"
            },
            {
              "label": "Mail",
              "value": "flaticon-mail"
            },
            {
              "label": "Zoom In",
              "value": "flaticon-zoom-in"
            },
            {
              "label": "Right Arrow",
              "value": "flaticon-right-arrow"
            },
            {
              "label": "Left Arrow",
              "value": "flaticon-left-arrow"
            },
            {
              "label": "Cancel",
              "value": "flaticon-cancel"
            },
            {
              "label": "Cancel-1",
              "value": "flaticon-cancel-1"
            },
            {
              "label": "Cancel-2",
              "value": "flaticon-cancel-2"
            },
            {
              "label": "Done",
              "value": "flaticon-done"
            },
            {
              "label": "Check",
              "value": "flaticon-check"
            },
            {
              "label": "Select",
              "value": "flaticon-select"
            },
            {
              "label": "Password",
              "value": "flaticon-password"
            },
            {
              "label": "Calendar",
              "value": "flaticon-calendar"
            },
            {
              "label": "Exit",
              "value": "flaticon-exit"
            },
            {
              "label": "Plus",
              "value": "flaticon-plus"
            },
            {
              "label": "Plus-1",
              "value": "flaticon-plus-1"
            },
            {
              "label": "Crosshair",
              "value": "flaticon-crosshair"
            },
            {
              "label": "Loupe",
              "value": "flaticon-loupe"
            },
            {
              "label": "Right Quote",
              "value": "flaticon-right-quote"
            },
            {
              "label": "Lock",
              "value": "flaticon-lock"
            },
            {
              "label": "Copyright",
              "value": "flaticon-copyright"
            }
          ]
        }
      ],
      "limit": 3
    }
  ],
  "presets": [
    {
      "name": "Contact",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "contact_card"
        }
      ]
    }
  ]
}
{% endschema %}
