{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'fontawesome-all.min.css' | asset_url | stylesheet_tag }}
{{ 'default.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}
{{ 'responsive.css' | asset_url | stylesheet_tag }}

<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg" data-background="img/bg/breadcrumb_bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="breadcrumb-content text-center">
          <h2>{{ page.title }}</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ shop.url }}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
